APP_NAME=Portal Vesper
ENVIRONMENT=development

POSTGRES_DB=portal_vesper
POSTGRES_USER=portal_vesper
POSTGRES_PASSWORD=TROQUE_ESTA_SENHA_AQUI
DATABASE_URL=postgresql+asyncpg://portal_vesper:TROQUE_ESTA_SENHA_AQUI@localhost:5432/portal_vesper

REDIS_URL=redis://localhost:6379/0

JWT_SECRET_KEY=GERE_COM_OPENSSL_RAND_HEX_32_AQUI
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://localhost:1420,tauri://localhost
MAX_UPLOAD_SIZE_MB=25
ALLOWED_UPLOAD_CONTENT_TYPES=application/pdf,image/png,image/jpeg,image/webp,text/plain,text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.wordprocessingml.document

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=TROQUE_ACCESS_KEY_AQUI
MINIO_SECRET_KEY=TROQUE_SECRET_KEY_AQUI
MINIO_SECURE=false
MINIO_BUCKET_DEFAULT=portal-files
MINIO_ROOT_USER=TROQUE_ACCESS_KEY_AQUI
MINIO_ROOT_PASSWORD=TROQUE_SECRET_KEY_AQUI

PGADMIN_DEFAULT_EMAIL=admin@vesper.com.br
PGADMIN_DEFAULT_PASSWORD=TROQUE_PGADMIN_AQUI

API_BASE_URL=http://localhost:8000
WEB_BASE_URL=http://127.0.0.1:5174
VITE_API_BASE_URL=http://localhost:8000
VITE_ENVIRONMENT=development
